<div class="row">
    <div class="col-md-8 col-md-offset-2 jumbotron" style="text-align: center;">
        <h2>Welcome to the Donation Application System.</h2>        
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <a class="btn btn-primary btn-block" href="/account/register">Create an account</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-block" href="/account/login">Login to your account</a>
            </div>
        </div>
    </div>
</div>

